.lista-mattoncini{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}

.mattone{
  width: 130px;
  max-width: 130px;
  height: 30px;
  border-radius: 5px;
}

.span-name{
  width: 130px;
  max-width: 130px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-button-delete, .button-delete{
  transform: scale(0.7);
  position: relative;
  bottom: 30px;
  left: 50px;
}


.lista-mattoncini .mattone:nth-child(8n+1) {
  margin-left: 22px;
}

.lista-mattoncini .mattone:nth-child(8n+8) {
  margin-right: 22px;
}
